<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  
  <script src="https://kit.fontawesome.com/7fcb78162b.js" crossorigin="anonymous"></script>
  <title>
    <%- AppName%> - ホーム</title>
</head>
<body>
  <div class="container-sm ">
    <nav class="navbar navbar-light mt-2" style="background-color: #e3f2fd; border-radius: 20px;">
      <h2 class="ms-3">
        <%- AppName %>
      </h2>
    </nav>
    <nav class="nav nav-pills flex-column flex-sm-row mt-3"> <a class="flex-sm-fill text-sm-center nav-link " href="../../"><i class="fa-solid fa-house"></i></a> <a class="flex-sm-fill text-sm-center nav-link active" href="../../user"><i class="fa-solid fa-user"></i></a>
      <% if(login==false){ %> <a class="flex-sm-fill text-sm-center nav-link " href="../../login"><i class="fa-solid fa-right-to-bracket"></i></a>
        <%}else{%> <a class="flex-sm-fill text-sm-center nav-link " href="../../logout"><i class="fa-solid fa-right-from-bracket"></i></a>
          <%}%>
    </nav>
    <div class="alert alert-danger mt-2" role="alert">
     ユーザーが見つからなかった、またはmisskeyインスタンス以外のユーザーを検索しようとしています
   </div>
    <form>
     <div class="form-group mt-3">
       <input type="text" class="form-control" id="usersearch" placeholder="username@instance">
       <% if (login){%><button type="submit" id="btn1"class="btn btn-primary">test</button><%}%>
       <button type="submit" id="btn"class="btn btn-primary">検索</button>
     </div>
  </form>

  <script>
     var btn = document.getElementById('btn');
     var btn1 = document.getElementById('btn1');
     const textbox = document.getElementById("usersearch")
     function link(u){
             location.href='/user/'+u;
         }
     function link1(u){
             location.href='/my/user/'+u;
        }
         btn.addEventListener('click', function() {
             var value = textbox.value
             setTimeout("link(textbox.value)", 0);
         })
         btn1.addEventListener('click', function() {
             var value = textbox.value
             setTimeout("link1(textbox.value)", 0);
         })
     </script>
</body>
</html>